/* body */

body{
	padding-top: 40px;
	font-size: 13px;
}

/* layout */
#container{
	position: relative;
	overflow-x:visible!important;
}


/* typography */

a{
	color: #D71920;
}
a:hover, a:focus{
	color: #B81C22;
	outline: 0;
}
p{
	margin:0 0 10px;
}

.list-unstyled{
	margin: 0;
	padding: 0;
}
.list-unstyled li{
	list-style: none;
}


/* utilities */

.fr{
	float: right;
}
.fl{
	float: left;
}
.fc{
	clear: both;
}
.light{
	color: #999;
}
.light a{
	color: #999;
	text-decoration: underline;
}
.small{
	font-size: 0.85em;
	line-height: 130%;
}

/* header */

.header-top{
	position: fixed;
	top: 0;
	width: 100%;
	background: #D71920;
	color: #fff;
	z-index: 9999;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.header-top-inner{
	padding: 5px 15px;
}
.header-top-inner a{
	color: #fff;
}
.header-top-inner .menu-btn{
    font-size: 1.5em;
    float: left;
    margin-top: -7px;
}
.header-top-inner .brand{
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	transition: all 500ms;
	padding-right: 5px;
}
.header-top-inner .brand:hover{
	text-decoration: none;
}
.header-top-inner .nav.pull-right{
	margin-top: -5px;
	margin-bottom: -5px;
}
.header-top-inner .nav>li>a:hover, .header-top-inner .nav>li>a:focus, .header-top-inner .nav .open>a, .header-top-inner .nav .open>a:hover, .header-top-inner .nav .open>a:focus{
	background: rgba(0,0,0,0.1);
	color: #fff;
}
.header-top-inner .dropdown-menu{
	margin-top: -1px;
	margin-right: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.header-top-inner .dropdown-toggle i.fa{
	float: left;
	margin-right: 5px;
}
.header-top .fa-mobile{
	margin-right: 5px;
	font-size: 1.3em;
}
.navbar-nav>li>a{
	padding-top: 9px;
	padding-bottom: 7px;
}

.navbar-nav .open .dropdown-menu{
	position: absolute;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	float: left;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.nav-aside{
	float: left;
	width: 205px;
	margin-left: -30px;
	padding-bottom: 15px;
	border-right: 1px solid #f2f2f2;
	padding-top: 10px;
	position: absolute;
}
.nav-aside ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-aside ul > li > ul{
	margin-left: 15px;
}
.nav-aside ul li.nav-header{
	padding: 5px 15px;
	text-transform: uppercase;
	color: #aaa;
	font-size: 0.85em;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 15px;
}
.nav-aside ul li a{
	color: #000;
	display: block;
	padding: 5px 15px;
}
.nav-aside ul li a:hover{
	background:#f2f2f2;
	text-decoration: none;
	margin-right: -1px;
	border-right: 1px solid #e1e1e1;
}
.nav-aside ul li.active > a{
	color: #D71920;
	background:#eee;
	font-weight: bold;
	margin-right: -1px;
	border-right: 1px solid #e1e1e1;
}
.nav-aside ul li a{
	position: relative;
}
.nav-aside ul li a i{
	top: -3px;
	margin-left: 4px;
	position: relative;
	font-size: 1.1em;
	color: #D71920;
}

.content{
	padding: 15px 0 15px 25px;
	border-left: 1px solid #f2f2f2;
	margin-left: 174px;
}
.content .row-title{
	margin-left: -25px;
	margin-right: 0;
}

.content .row-title .col-sm-12{
	padding-left: 25px;
}

.content .row-title .pagemenu{
	margin-top: 13px;
	margin-bottom: -17px;
}
.content .row-title .pagemenu li{
	display: inline-block;
}

.content .row-title .pagemenu li a{
	display: block;
	padding: 4px 15px;
	color: #000;
}

.content .row-title .pagemenu li a:hover{
	background: #f2f2f2;
	text-decoration: none;
}

.content .row-title .pagemenu li a.active{
	color: #61c4ef;
	font-weight: bold;
	background: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.content-form{
	margin-right: 336px;
/* 	max-width: 900px;	 */
	position: relative;
}

#aside-container{
	position: absolute;
	right: -25px;
	top:0;
}

.aside-content{
	width: 311px;
	padding: 20px;
	background: #f8f8f8;
	position: relative;
	right: -311px;
}
.aside-content.affix{
	right: auto;
}
.aside-form{
	margin-top: 15px;
}
.aside-form .form-group{
	margin-bottom: 5px;
}

.form-horizontal .aside-form .radio, .form-horizontal .aside-form .checkbox{
	padding-left: 20px;
}

#aside-container hr {
	border-color: #ccc;
}
.aside-form .col-xs-1, .aside-form .col-sm-1, .aside-form .col-md-1, .aside-form .col-lg-1, .aside-form .col-xs-2, .aside-form .col-sm-2, .aside-form .col-md-2, .aside-form .col-lg-2, .aside-form .col-xs-3, .aside-form .col-sm-3, .aside-form .col-md-3, .aside-form .col-lg-3, .aside-form .col-xs-4, .aside-form .col-sm-4, .aside-form .col-md-4, .aside-form .col-lg-4, .aside-form .col-xs-5, .aside-form .col-sm-5, .aside-form .col-md-5, .aside-form .col-lg-5, .aside-form .col-xs-6, .aside-form .col-sm-6, .aside-form .col-md-6, .aside-form .col-lg-6, .aside-form .col-xs-7, .aside-form .col-sm-7, .aside-form .col-md-7, .aside-form .col-lg-7, .aside-form .col-xs-8, .aside-form .col-sm-8, .aside-form .col-md-8, .aside-form .col-lg-8, .aside-form .col-xs-9, .aside-form .col-sm-9, .aside-form .col-md-9, .aside-form .col-lg-9, .aside-form .col-xs-10, .aside-form .col-sm-10, .aside-form .col-md-10, .aside-form .col-lg-10, .aside-form .col-xs-11, .aside-form .col-sm-11, .aside-form .col-md-11, .aside-form .col-lg-11, .aside-form .col-xs-12, .aside-form .col-sm-12, .aside-form .col-md-12, .aside-form .col-lg-12{
	width: 100%;
}
.aside-form .col-xs-offset-2, .aside-form .col-sm-offset-2, .aside-form .col-md-offset-2, .aside-form .col-lg-offset-2{
	margin-left: 0;
}
.aside-form .checkbox-control-label{
	display: none;
}
.form-horizontal .aside-form .control-label{
	text-align: left;
	margin-bottom: 4px;
}

.affix{
	position: fixed;
	top:50px;
}

/* -------------- Form ------------------- */

.row-title{
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 15px;
	padding-top: 5px;
}

.row-title h1{ /*?*/
	margin: 0;
}

.form-group {
	max-width:none;
}
.content-form label.control-label {
	max-width: 200px;
	min-width: 120px;
}
.input-element {
	max-width: 700px;
	min-width: 250px;
}

/* tabs */
.tab-content{
	margin-top: 30px;
}
.nav-tabs li.active a{
	font-weight: bold;
}
.nav-tabs li a.error{
	background: #F78B83;
	color: #fff;
}
.nav-tabs li.active a.error{
	background: #fff;
}

.nav-tabs>li>a{
	margin-right: 10px;
	border: 1px solid #eee;
	border-bottom-color: #ddd;
	color: #999;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav>li>a:hover, .nav>li>a:focus{
	border-color: #ddd #ddd #D71920;
	color: #D71920;
	background: #fff;
}

/* lock/unlock */
.unlock .fa:after {
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f13e";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
}
.locked .unlock .fa:after {
    content: "\f023";    /* adjust as needed, taken from bootstrap.css */
}

/* counter */
.counter-parent{
	margin-top: 2px;
	font-size: 0.9em;
}
.counter-parent.safe{
	color: #ccc;
}
.counter-parent.warning{
	color: #000;
}
.counter-parent.over{
	color: #f00;
}
#field_changelog {
	font-size:11px;
	white-space: pre;
	word-wrap: normal;
	overflow-x: scroll;
}

/* -------------- Btns ------------------- */


.btn{
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: none;
	margin-bottom:7px;
	margin-right: 5px;
	pointer-events: visible;
}
.btn-group .btn, .actions .btn-group .btn{
	margin-right: 0;
}
.btn-group .btn:last-child, .actions.btn-group .btn:last-child{
	margin-right: 7px;
}
.btn:hover{
	background-position: 0 0;
	text-shadow: none;
}
.btn.active, .btn:active{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.btn-default{
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid #dcdcdc;
	color: #444;
}
.btn-default:hover{
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	color: #333;
}
.btn-default.active, .btn-default:active{
	border-color: #888;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.btn-group .btn:first-child{
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
}
.btn-group .btn:last-child, .btn-group .dropdown-toggle{
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
}
.btn .caret{
	margin-left: 2px;
}
/* using a different icon font, so need to fix some icon positioning and names from plugins */

.fa, .glyphicon{
	position: relative;
	top:1px;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.btn-sm .fa{
	font-size: 1.2em;
}
.glyphicon-time:before{
	content: "\f017";
}
.glyphicon-calendar:before{
	content: "\f073";
}
.glyphicon-chevron-up:before{
	content: "\f077";
}
.glyphicon-chevron-down:before{
	content: "\f078";
}

.qtip{
	min-width: 80px;
}


/* -------------- form ------------------- */

.input-group .form-control {
	z-index: 0;
}

.form-control{
	border-radius: 2px;
}
.form-control.error, .form-control.warning{
	border-color: #F78B83;
}
.form-control.error:focus, .form-control.warning:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 139, 131, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 139, 131, 0.6);
}

.has-tooltip{
	margin-right: 17px;
}

.form-control-info{
	position: absolute;
	right: 2px;
	cursor: pointer;
}
.form-control-info.relative {
	position:relative;
	left: 10px;
	top:-2px;
	cursor: pointer;
}

.form-control-info.middle{
	top: 10px;
}

label.checkbox{
	padding-left: 20px;
}

.checkbox .form-control-info{
	position: relative;
	margin-left: 15px;
}

.form h3 {
	padding:0;
	margin:0;

}

/*
* Inline file picker styles
*/

.file-preview {
	display: none;
}
.file-preview.active {
	display: block;
}
.file-preview img {
	border: 1px solid #ccc;
	margin-top: 5px;
}
.file-preview a .fa{
	margin-right: 5px;
	float: left;
}
.file-remove {
	display: none;
}
.file-remove.active {
	display: inline-block;
}

/* timepicker */

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second{
	width: 100%;
}

/* select2 */
select[multiple].select2{
	height: 34px;
}
textarea.select2{
	height: 34px;
}

.select2-drop ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.select2-drop ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* confirmation */

.popover{
	z-index: 99999;
}

/* Pnotify */

.ui-pnotify.stack-bar-top{
	top: 0;
	right: 0;
}
.ui-pnotify.stack-bar-top .alert{
	border-radius: 0;
}

/* select2 as parent selector*/
.select2-level-1{
	font-weight: bold;
}
.select2-level-2{
	padding-left: 15px;
}
.select2-level-3{
	padding-left: 30px;
	font-style: italic;
}
.select2-level-4{
	padding-left: 45px;
}
.select2-level-5{
	padding-left: 60px;
}
.select2-level-6{
	padding-left: 60px;
}
.select2-level-7{
	padding-left: 75px;
}


/* -------------- table ------------------- */
/* table nav */
.table-nav{
	margin-bottom: 15px;
}
.table-nav select{
	margin-bottom: 0;
}
.actions{
	display: inline-block;
	margin: 0 0 6px;
	padding: 0;
}
.actions.hide{
	display: none;
}
.actions > li{
	display: inline-block;
	list-style: none;
	float: left;
}
.actions li label.btn-sm input[type="checkbox"]{
	margin-top: 3px;
}
.actions li.items-selected-dependent{
	display: none;
}
.actions.items-selected li.items-selected-dependent{
	display: inline-block;
}
.actions.no-delete .action-delete{
	display: none;
}
.actions .btn{
	margin-right: 7px;
}

.navigations > li{
	float: left;
	display: inline-block;
	margin-left: 10px;
}
.navigations li .search-group{
	width: 200px;
}
.form-inline.search-group a.form-control-feedback{
	top:-1px;
	z-index: 3;
	right: -1px;
	color: #000;
	position: absolute;
	pointer-events: visible;
}
.search-group a.form-control-feedback:hover{
	text-decoration: none;
	color: #D71920;
}
.dropdown-toggle a.form-control-feedback{
	color: #444;
	margin-left: 2px;
	pointer-events: visible;
	width: auto; height: auto;
}
.dropdown-toggle a.form-control-feedback:hover{
	text-decoration: none;
	color: #D71920;
}

/* table general */
.table-parent{
	margin:0 0 30px;
	max-width:900px;
}
.content-form .table-parent {
	margin:0;
}
.content-form .table {
	margin:0;
}
.table th, .table td{
	background: #fff;
	padding: 7px;
}
.table > thead > tr > th{
	border-bottom: 0;
}
.table td p{
	margin: 0;
}
.table td a, .table td a:hover{
	color: #000;
	text-decoration: none;
}
.table{
	border-bottom: 1px solid #ddd;
}
.table tbody tr.item td, .table tbody tr.item th{
	background: #fafafa;
}
.table tbody tr.item-clickable{
	cursor: pointer;
}
.table tbody tr.item-clickable:hover td, .table tbody tr.item-clickable:hover th{
	background: #f5f5f5;
	cursor: pointer;
}
.table tbody tr.selected td{
	background: #E7F5FC;
}
.table tbody tr.selected:hover td{
	background: #DCF3FF;
}
.table .td-content .breakall{
	word-break: break-all;
}


/* table zortable */
.zortable .table{
	border-collapse: separate;
}
.zortable .table>tbody>tr>td{
	border-top: none;
}
.zortable .table{
	border-bottom:none;
}

.parent-indent{
	display: block;
	content: "";
	width: 21px;
	height: 0;
	background: #fff;
	margin-top: 8px;
	margin-bottom: -8px;
	margin-left: -8px;
}
.inbetween td, .table tbody tr.inbetween:hover td, .table>tbody>tr.inbetween>td{
	background: #ddd;
	padding-top: 0;
	padding-bottom: 0;
}
.inbetween td span, .inbetween.inbelow:last-child td span{
	height: 1px;
	display: block;
}
.inbetween.inbelow td{
	background: none;
}
.table>tbody>tr.inbetween>td.hover, .table tbody tr.hover td, .inbetween td.revert-to-me{
	background: #E9FFC2;
	visibility: visible;
}
.inbetween + .inbetween{
	visibility: hidden;
}
.table .cloned{
	display: none;
}
.zortable .table table.ui-draggable-dragging{
	border-collapse: separate;
}
.ui-droppable-disabled{
	opacity: 0.3;
}

/* table 10 levels deep */

tr td:first-child{
	border-left: 0 solid #fff;
}
tr.level-1 td:first-child{
	border-left-width: 20px
}
tr.level-2 td:first-child{
	border-left-width: 40px
}
tr.level-3 td:first-child{
	border-left-width: 60px
}
tr.level-4 td:first-child{
	border-left-width: 80px
}
tr.level-5 td:first-child{
	border-left-width: 100px
}
tr.level-6 td:first-child{
	border-left-width: 120px
}
tr.level-7 td:first-child{
	border-left-width: 140px
}
tr.level-8 td:first-child{
	border-left-width: 160px
}
tr.level-9 td:first-child{
	border-left-width: 180px
}
tr.level-10 td:first-child{
	border-left-width: 200px
}
.list-tree .level-0 {
	font-weight: bold;
}

/*-------------- controls ---------------------*/

.controls-front .item-select-label{
	display: none;
	float: left;
	padding: 8px 10px 8px 3px;
	margin: -8px 0;
}
.item-selectable .controls-front .item-select-label{
	display: block;
}
.controls-front .handle{
	width: 8px;
	display: none;
	margin: -3px 0 -7px -7px;
	cursor: move;
	cursor: url(../img/openhand.cur) 7 5, default;
	padding: 2px 2px 0;
	float: left;
	opacity: 0.4;
}
.controls-front .handle span{
	border-top: 1px solid #aaa;
	margin-bottom: 2px;
	display: block;
}
.item-zortable .controls-front .handle{
	display: block;
}
.item-zortable:hover .controls-front .handle{
	opacity: 1;
}
.td-content-field{
	display: block;
	padding-left: 5px;
}
.item-zortable .td-content-field{
	padding-left: 10px;
}
.item-selectable .td-content-field{
	padding-left: 25px;
}
.item-selectable.item-zortable .td-content-field{
	padding-left: 25px;
}

.item-nonclickable{
	cursor: not-allowed;
}

.item-hidden{
	opacity: 0.35;
}

.table tbody tr.item-hidden td, .table tbody tr.item-hidden th{
	background: url(../img/stripe-hidden.png) repeat;
}

.table tbody tr.item-hidden.selected td{
	background: url(../img/stripe-hidden-selected.png) repeat;
}

.table tbody tr.item-clickable.item-hidden:hover{
	opacity: 1;
}

.table tbody tr.item-clickable.item-hidden:hover td{
	background: url(../img/stripe-hidden.png) repeat;
}
.table tbody tr.item-clickable.item-hidden.selected:hover td{
	background: url(../img/stripe-hidden-selected.png) repeat;
}

.td-content .list-image{
	max-height: 30px;
}

/* controls in table */

.list-toggle{
	padding: 10px 10px 10px 5px;
	color: #ccc;
	cursor: pointer;
}
.list-toggle:hover{
	color: #999;
}
.list-toggle span:last-child, .list-toggle.active span:first-child, .list-toggle:hover span:first-child{
	display: none;
}
.list-toggle.active{
	color: #449D44;
}
.list-toggle.active span:last-child, .list-toggle:hover span:last-child{
	display: inline;
}

/* table sort */
.sortable .table > tbody{
	visibility: hidden;
}
.sortable-initialized .table > tbody{
	visibility: visible;
}
.sortable th{
	cursor: pointer;
}
.sortable th:hover{
	background-color: #fafafa;
}
.tablesorter-header-inner{
	position: relative;
}
.tablesorter-header-inner:after, .tablesorter-header-inner:before{
    font-family: 'FontAwesome';
    position: absolute;
    right: 4px;
    color: #ddd;
}
.tablesorter-header-inner:after{
    content: "\f0d8";
    top:-3px;
}
.tablesorter-header-inner:before{
    content: "\f0d7";
    top:5px;
}
.tablesorter-header-inner:hover:after, .tablesorter-header-inner:hover:before{
	color: #aaa;
}
.tablesorter-headerAsc .tablesorter-header-inner:after, .tablesorter-headerDesc .tablesorter-header-inner:before{
	color: #000;
	top: 2px;
}
.tablesorter-headerAsc .tablesorter-header-inner:before{
	display: none;
}
.tablesorter-headerDesc .tablesorter-header-inner:after{
	display: none;
}

.sorter-false .tablesorter-header-inner:after, .sorter-false .tablesorter-header-inner:before{
	display: none;
}

/* table sticky header */
.sticky-header-container{
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Well center */

.well-center {
	max-width: 700px;
	min-width: 230px;
	padding: 1px 29px 20px;
	margin: 0 auto 20px;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* Login Form */
.login-reset-template h1{
	text-align: center;
	color: #D71920;
	margin-bottom: 35px;
}
.login-reset-form {
	max-width: 300px;
	min-width: 230px;
}
.login-reset-form .btn-success{
	margin-right: 10px;
}
.login-reset-form .forgot-password{
	margin-top: 15px;
	display: inline-block;
	color: #aaa;
}

/* Modal Form */

.modal-form{
	margin-top: -35px;
}
.modal-form .content{
	margin-left: 0;
	border-left: 0;
	padding-left: 5px;
}

.modal-form .content .row-title{
	margin-left: 0;
}
.modal-form .content .row-title .col-sm-12{
	padding-left: 0;
}
.modal-form .content-form{
	margin-right: 336px;
}
.modal-form .aside-content.affix{
	position: fixed;
	top: 25px;
	right: 20px;
}


@media screen and (max-width: 767px){
	body{
		padding-top: 0;
	}
	.header-top{
		position: relative;
	}
	.content{
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
	.navbar-nav>li>a{
		padding: 9px 8px 8px 8px;
	}
	.header-top .navbar-nav.pull-right li:first-child a{
		padding-bottom: 3px;
	}
	.header-top-inner .dropdown-toggle i.fa{
		float: none;
	}
	.header-top .navbar-nav{
		margin-right: 0;
	}
	.header-top .navbar-nav.pull-right .caret{
		display: none;
	}
	.header-top .navbar-nav.pull-right .fa.fa-mobile{
		font-size: 2em;
		margin-top: -3px;
		margin-right: 3px;
		margin-left: 3px;
	}
	.header-top .navbar-nav.pull-right .fa{
		font-size: 1.5em;
		margin-right: 2px;
		margin-left: 2px;
	}

}

/* putting the right sidebar below the form */
@media screen and (max-width: 1000px){
	.content-form{
		margin-right: 0;
	}
	#aside-container, .aside-content.affix{
		position: relative;
		top: 0;
		right: 0;
	}
	#aside-container, .aside-content {
		width: auto;
		right: auto;
	}
}

/* Show vertical form earlier then normal */
@media (min-width: 768px) and (max-width: 1259px) {
  .form-horizontal .control-label {
    text-align: inherit;
    margin-bottom: 5px;
    padding-top: inherit;
    width: inherit;
    float: none;
  }
  .form-horizontal .form-group-lg .control-label {
    padding-top: inherit;
  }
  .form-horizontal .form-group-sm .control-label {
    padding-top: inherit;
  }
  .input-element{
	  width: inherit;
	  float: none;
  }
  .checkbox-control-label{
	  display: none;
  }
}

@media (min-width: 1260px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
@media (min-width: 1260px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}
@media (min-width: 1260px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}

.warning {
	color:#c00;
}